<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    #con{
        text-align: center;
        margin: 30px;
    }
    #search_div input{
        height: 30px;
        margin: 10px;
    }
    #search_txt{
        width: 40%;
        border: 1px solid rebeccapurple;
        border-radius: 2px;
    }
    #result{
        border: solid 1px brown;
    }
    table{
        border-collapse: collapse;
        border: solid 1px rosybrown;
        width: 100%;

    }
    tr td,th{
        line-height: 30px;
        text-align: center;
        min-width: 40px;
        border: solid 1px rosybrown;
    }
    #result_tongji{
        margin-bottom: 10px;
    }

</style>
<body>
<div id="con">
    <div id="search_div">
        <input type="text" id="search_txt"><input type="button" value="search">
    </div>
    <div id="result_tongji">共为你找到10条结果。显示从0起共10个</div>
    <div id="result">
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Url</th>
                <th>Name</th>
                <th>Age</th>
                <th>Height</th>
                <th>Weight</th>
                <th>收入</th>
                <th>婚况</th>
                <th>教育</th>
                <th>位置</th>
            </tr>
            </thead>
            <tbody>
                
                <tr>
                    <td>1057746505</td>
                    <td><a href="http://album.zhenai.com/u/1057746505" target="_blank">链接</a></td>
                    <td>何处不相逢</td>
                    <td>37</td>
                    <td>158</td>
                    <td>0</td>
                    <td>12001-20000元</td>
                    <td>离异</td>
                    <td>硕士</td>
                    <td>北京</td>
                </tr>
                
                <tr>
                    <td>1057746505</td>
                    <td><a href="http://album.zhenai.com/u/1057746505" target="_blank">链接</a></td>
                    <td>何处不相逢</td>
                    <td>37</td>
                    <td>158</td>
                    <td>0</td>
                    <td>12001-20000元</td>
                    <td>离异</td>
                    <td>硕士</td>
                    <td>北京</td>
                </tr>
                
                <tr>
                    <td>1057746505</td>
                    <td><a href="http://album.zhenai.com/u/1057746505" target="_blank">链接</a></td>
                    <td>何处不相逢</td>
                    <td>37</td>
                    <td>158</td>
                    <td>0</td>
                    <td>12001-20000元</td>
                    <td>离异</td>
                    <td>硕士</td>
                    <td>北京</td>
                </tr>
                
                <tr>
                    <td>1057746505</td>
                    <td><a href="http://album.zhenai.com/u/1057746505" target="_blank">链接</a></td>
                    <td>何处不相逢</td>
                    <td>37</td>
                    <td>158</td>
                    <td>0</td>
                    <td>12001-20000元</td>
                    <td>离异</td>
                    <td>硕士</td>
                    <td>北京</td>
                </tr>
                
                <tr>
                    <td>1057746505</td>
                    <td><a href="http://album.zhenai.com/u/1057746505" target="_blank">链接</a></td>
                    <td>何处不相逢</td>
                    <td>37</td>
                    <td>158</td>
                    <td>0</td>
                    <td>12001-20000元</td>
                    <td>离异</td>
                    <td>硕士</td>
                    <td>北京</td>
                </tr>
                
                <tr>
                    <td>1057746505</td>
                    <td><a href="http://album.zhenai.com/u/1057746505" target="_blank">链接</a></td>
                    <td>何处不相逢</td>
                    <td>37</td>
                    <td>158</td>
                    <td>0</td>
                    <td>12001-20000元</td>
                    <td>离异</td>
                    <td>硕士</td>
                    <td>北京</td>
                </tr>
                
                <tr>
                    <td>1057746505</td>
                    <td><a href="http://album.zhenai.com/u/1057746505" target="_blank">链接</a></td>
                    <td>何处不相逢</td>
                    <td>37</td>
                    <td>158</td>
                    <td>0</td>
                    <td>12001-20000元</td>
                    <td>离异</td>
                    <td>硕士</td>
                    <td>北京</td>
                </tr>
                
                <tr>
                    <td>1057746505</td>
                    <td><a href="http://album.zhenai.com/u/1057746505" target="_blank">链接</a></td>
                    <td>何处不相逢</td>
                    <td>37</td>
                    <td>158</td>
                    <td>0</td>
                    <td>12001-20000元</td>
                    <td>离异</td>
                    <td>硕士</td>
                    <td>北京</td>
                </tr>
                
                <tr>
                    <td>1057746505</td>
                    <td><a href="http://album.zhenai.com/u/1057746505" target="_blank">链接</a></td>
                    <td>何处不相逢</td>
                    <td>37</td>
                    <td>158</td>
                    <td>0</td>
                    <td>12001-20000元</td>
                    <td>离异</td>
                    <td>硕士</td>
                    <td>北京</td>
                </tr>
                
                <tr>
                    <td>1057746505</td>
                    <td><a href="http://album.zhenai.com/u/1057746505" target="_blank">链接</a></td>
                    <td>何处不相逢</td>
                    <td>37</td>
                    <td>158</td>
                    <td>0</td>
                    <td>12001-20000元</td>
                    <td>离异</td>
                    <td>硕士</td>
                    <td>北京</td>
                </tr>
                

            </tbody>
        </table>
    </div>
</div>
</body>
</html>